<!DOCTYPE html>
<html lang="en">
<head>
	<title>front</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-01.png');">
<section class="container">
<p align="center"> train Schedule </p>
<form class="form"> 
 <label class="my-1 mr-2" for="train">Train Number</label> 
<input type="number" id="train" placeholder="train Number"></input>

<button type="submit" class="btn btn-primary my-1">Get timings</button> </form>

</section>
</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				
					<span class="login100-form-title p-b-59">
						Metro System 
					</span>	

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location='http://localhost:8080/search'" style="border-top:6px solid white;">
									Search Trains
							</button>
						</div>

						<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location='http://localhost:8080/timetable'" style="border-top:6px solid white;">
									Time Table
							</button>
						</div>	

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location='http://localhost:8080/fare'" style="border-top:6px solid white;">
									Fare Enquiry
							</button>
						</div>

                     
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location='http://localhost:8080/login'" style="border-top:6px solid white;">
							     Metro Stations
							</button>
						</div>					

							

						<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location='http://localhost:8080/login'" style="border-top:6px solid white;">
									Login
							</button>
						</div>			
			</div>

					
					</div>
				
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="function.js"></script>
</body>
</html>
